// Home
.home {

  header {
    @include bp-medium {
      background-color: transparent;
    }

    nav ul li a {
      color: #000;

      @include bp-medium {
        color: #fff;

        &:hover {
          background-color: #000;
        }
      }
    }
  }

  .intro {
    height: 500px;
    background-image: url(img/home-bg.jpg);
    background-size: cover;

    .search-bar {
      @extend %vertical-align;
      color: #fff;
      text-align: center;
      max-width: 1500px;
      width: 70%;
      margin: 0 auto;
        
      input {
        margin: 15px 0;
      }

      form {
        @extend %clearfix;
        position: relative;
      }

      .autocomplete {
        position: absolute;
        top: 63px;
        width: 100%;
        background-color: #fff;
        display: none;

        ul {
          padding: 0;
          margin: 0;
          list-style: none;

          li {
            border-bottom: solid 1px $l-gray;

            a {
              line-height: 2.5em;
              display: block;

              &:hover {
                background-color: #fcfcfc;
              }
            }
          }
        }

        &.active {
          display: block;
        }
      }

      @include bp-medium {

        input, button {
          float: left;
        }

        .autocomplete,
        input { 
          width: 75%;
        }

        button {
          &.red {
            width: 25%;
            margin: 15px 0;
          }

          &.yellow {
            width: 40%;
            margin: 0 30%;
          }
        }
      }
    }
  }
}

.trip {
  aside {
    @extend %clearfix;
    overflow-y: scroll;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-bottom: 49px;

    @include bp-medium {
      width: 400px;
      border-right: solid 1px $border;
    }

    .top-bar {
      @extend %row;
      margin-top: $menu-h;
      background-color: #fff;
      height: 50px;
      border-bottom: solid 1px $border;

      a {
        float: left;
        display: block;
        text-align: center;
        line-height: 2.4em;
        margin: 5px 0;

        &:first-child {
          width: 30%;
          border-right: solid 1px $border;
        }

        &:nth-child(2) {
          width: 70%;
        }
      }
    }

    .point {
      @extend %clearfix;
      @extend .p-v-15;
      @extend %row;
      background-color: #fff;
      border-bottom: solid 1px $border;

      > div {
        float: left;
      }

      .nights {
        width: 25%;
        text-align: center;
        padding: 10px 0;

        strong {
          color: $yellow;
          display: block;
          font-weight: bold;
          font-size: 2.5em;
          line-height: 0.75em;
          margin-bottom: 10px;
        }

        span {
          font-size: 1em;
          text-transform: uppercase;
          font-weight: bold;
        }
      }

      .desc {
        width: 62.5%;

        div {
          color: $red;
        }

        h2 {
          line-height: 1.5em;
          margin: 0;
        }

        span {
          color: $gray;
        }
      }

      .status {
        width: 12.5%;
        text-align: center;
        line-height: 4em;
        padding: 5px;
        text-align: center;

        img {
          max-width: 27px;
        }
      }
    }

    .card {
      @extend %clearfix;
      @extend %row;
      padding: 10px 10px 0;

      > div {
        float: left;
      }

      .profile {
        width: 20%;
        text-align: center;

        img {
          max-width: 100%;
        }
      }

      .txt {
        @extend %rounded;
        @include font-size(14px);
        padding: 10px;
        line-height: 1.4em;
      }
    }

    .card {

      > div {
        padding: 8px;
        background-color: #fff;
        @extend %row;

        > div {
          float: left;
        }
      }

      .txt {
        width: 80%;
        padding-top: 0;

        p {
          margin: 0;
          font-weight: bold;
        }

        a,
        span {
          color: $border;
        }
      }
    }

    .facepile {
      > div {
        background-color: transparent;
        padding-bottom: 0;
      }
    }

    .message {
      > div {
        background-color: transparent; 
      }

      &.active > div {
        float: right;

        &.bubble {
          padding: 10px 10px 10px 0;

          div:first-child {
            text-align: right;
          }

          .txt {
            background-color: $yellow;
            color: #fff;
          }
        }
      }

      .bubble {
        width: 80%;
        padding: 10px 0 10px 10px;

        > div {
          @extend %row;
        }

        div:first-child {
          margin-top: -10px;
          color: $border;
          @include font-size(12px);
        }

        .txt {
          background-color: #fff;
          margin-top: 5px;
          padding: 10px;
        }
      }
    }

    .message-input {
      @extend %row;
      background-color: #fff;
      position: fixed;
      bottom: 49px;

      form {
        @extend %row;

        input {
          float: left;
          width: 80%;
          font-style: italic;
          text-align: left;
        }

        button {
          float: left;
          width: 20%;
          margin: 5px 0;
          padding: 10px;
          border-left: solid 1px $border;
          background-color: #fff;
          color: $yellow;
        }
      }

      @include bp-medium {
        width: 400px;
        border-right: solid 1px $border;
      }
    }

    .bottom-bar {
      @extend %clearfix;
      @extend %row;
      background-color: #fff;
      position: fixed;
      bottom: 0;

      @include bp-medium {
        width: 400px;
        border-right: solid 1px $border;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        @extend %clearfix;

        li {
          width: 20%;
          float: left;
          text-align: center;

          a {
            display: block;
            height: 48px;
            padding: 10px;

            &:hover,
            &.active {
              border-top: solid 4px $d-red;
              padding: 6px 10px 10px;
            }

            img {
              max-height: 100%;
            }
          }
        }
      }
    }
  }
}