%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%rounded {
  border-radius: 5px;
}

$dark: #272727;
// Grays
$gray: #9B9B9B;
$l-gray: #F5F5F5;
$border: #c3c3c3;

// Buttons, Links
$red: #FF404B;
$d-red: #B82347;
$yellow: #FFBD29;
$purple: rgb(85, 26, 139);

// z-index
$level: 1;

// Menu Height
$menu-h: 60px;