@import 'reset';
@import 'mixins';
@import 'vars';
@import 'declarations';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  @include font-size(16px);
  background-color: $l-gray;
}

h1 {
  margin: 0;
}

.container {
  height: 100%;

  @include bp-medium {
    max-width: 1400px;
    margin: 0 auto;
  }

  &:after {
     @extend %clearfix;
  }
}

.row {
  @extend %clearfix;
}

.m-6 {
  float: left;
  width: 100%;
  padding: 1px;
  
  @include bp-medium {
    width: 50%;
  }

  &:after {
     @extend %clearfix;
  }
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: #fff;

  @include bp-medium {
    background-color: transparent;
  }

  .container {
    position: relative;
  }

  .logo {
    width: 50%;
    margin: 4px auto;

    @include bp-medium {
      width: 250px;
      margin: 15px;
      float: left;
    }

    a {
      display: block;
    }
  }

  .overflow {
    @extend .mobile-only;
    cursor: pointer;
    width: 36px;
    position: absolute;
    top: 15px;
    left: 15px;
  }

  nav {
    font-weight: bold;
    

    @include bp-medium-max {
      // please remove
      display: none;
      //
      position: fixed;
      background-color: #fff;
      z-index: 1001;
      width: 90%;
      top: 49px;
      left: 0;
      height: 100%;
      font-weight: bold;
      padding: 15px;
    }

    @include bp-medium {
      float: right;
      margin-top: 8px;
    }

    button {
      &:first-child {
        margin-bottom: 15px;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        border-bottom: solid 1px $gray;
        line-height: 48px;

        @include bp-medium {
          float: left;
          border: 0;
        }

        a {
          color: #000;
          display: block;
          @extend .p-h-15;

          @include bp-medium {
            color: #fff;

            &:hover {
              background-color: #000;
            }
          }
        }
      }
    }
  }
}

label {
  float: left;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
  display: block;
  padding: 15px 0;
}

input {
  border: solid 0px transparent;
	width: 100%;
	padding: 15px;
  text-align: center;
  color: $gray;
}

button {
  color: #fff;
	outline: 0;
	border: 0;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	padding: 15px 0;

  @include bp-medium {
    &:hover {
      cursor: pointer;
    }
  }

  &.white {
    background: #fff;
    color: #000;
  }

  &.red {
    background-color: $red;
  }

  &.yellow {
    background-color: #F5A527;
  }

  &.facebook {
    background-color: #3B5A97;
  } 
}

form .facebook {
  height: 65px;
}

button.secondary {
  @extend button.white;

  &.passw {
    @include bp-medium-max {
      color: $gray;
    }
  }

  @include bp-medium {
    border: solid 1px #fff;
    color: #fff;
    background-color: #000;
    float: left;
    width: 50%;
  }
}

.modal {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  z-index: 999;
  top: 45px;
  left: 0;
  padding: 15px;

  @include bp-medium {
    // width = margin-left / -2
    max-width: 35em;
    left: 50%;
    margin-left: -17.5em;
  }
}

// Templates

.home {

  .intro {
    height: 500px;
    background-image: url(img/home-bg.jpg);
    background-size: cover;

    .search-bar {
      @extend %vertical-align;
      color: #fff;
      text-align: center;
      max-width: 1500px;
      width: 70%;
      margin: 0 auto;
        
      input {
        margin: 15px 0;
      }

      @include bp-medium {

        input, button {
          float: left;
        }

        input { 
          width: 75%;
        }

        button {
          &.red {
            width: 25%;
            margin: 15px 0;
          }

          &.yellow {
            width: 40%;
            margin: 0 30%;
          }
        }
      }
    }
  }
}